.page-header__container {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.page-header {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #eeeeee;
}

.main-nav__list {
  display: flex;
  margin-left: 93px;
  gap: 50px;
}

.main-nav__link {
  color: var(--title-text-color);
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.main-nav__link:hover,
.main-nav__link:focus,
.main-nav__link--current,
.page-header__contact:hover,
.page-header__contact:focus,
.footer__contact:hover,
.footer__contact:focus,
.main-logo__web {
  color: var(--accent-color);
}

.main-nav__link--current {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    /* bottom: 0; */
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
  }
}

.page-header__contact-list {
  display: flex;
  margin-left: auto;
  gap: 50px;
}

.page-header__contact {
  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.page-header__contact-icon {
  fill: #757575;
  margin-right: 10px;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .page-header__contact:hover &,
  .page-header__contact:focus & {
    fill: var(--accent-color);
  }
}
